DB_PORT=5432 # Default PostgreSQL port, change if your database uses a different port
DB_USER=POSTGRES_USER
DB_PASSWORD=POSTGRES_PASSWORD
DB_NAME=DB_NAME
DB_HOST=localhost (localhost or your database host, docker service name if using docker)
SECRET=YOUR_SECRET
API_PORT=3000 # Default port for the API server, change if needed