services:
  postgres:
    image: postgres:17-alpine
    restart: no
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cbf
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  

  mongo:
    image: mongo
    restart: no
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data: